@page
@model BookListRazor.Pages.Booklist.IndexModel
@{
    ViewData["Title"] = Model.Title;
}

<br />
<div class="container row p-0 mb-3">
    <div class="col-12 text-center">
        <h1>@Model.Title</h1>

    </div>    
</div>

<div class="container row p-0 mb-2">
    <div class="col-3 offset-9">
        <a asp-page="Create" class="btn btn-info form-control text-white">Create a New Book</a>
    </div>
</div>

    <div class="col-12 border p-3 mt-3">
        <form method="post">
            @if (Model.Books.Count() > 0)
            {
                <table class="table table-striped border">
                    <tr class="table-secondary">
                        <th>
                            <label asp-for="Books.FirstOrDefault().Name"></label>
                        </th>

                        <th>
                            <label asp-for="Books.FirstOrDefault().Author"></label>
                        </th>
                        <th>
                            <label asp-for="Books.FirstOrDefault().ISBN"></label>
                        </th>
                        <th>

                        </th>

                    </tr>
                    @foreach (var item in Model.Books)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(i => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(i => item.Author)
                            </td>
                            <td>
                                @Html.DisplayFor(i => item.ISBN)
                            </td>
                            <td>
                                <a asp-page="Edit" asp-route-id="@item.Id" class="btn btn-success btn-sm text-white">Edit</a>
                                <button asp-page-handler="Delete" asp-route-id="@item.Id" onclick="return confirm('Are you sure you want to delete?')" class="btn btn-danger btn-sm">Delete</button>
                            </td>
                        </tr>
                    }

                </table>
            }
            else
            {
                <p> No Books available</p>
            }
        </form>
    </div>

    